/* CSS styling for Snap2Ask website

Color Scheme:
#524656 - Pastel Purple
#cf4747 - Pastel Red
#ea7a58 - Light Red Orange
#e4dccb - Off White
#a6c4bc - Light Blue

*/



/* Index.php Styling ---------------------------------------------------------------*/
html{
	background-image: url("../res/geometry.png");	
}

body {
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	border: solid #a6c4bc 5px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
	color: #524656;
}

img#logo{
	display:block;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
