/* CSS styling for Snap2Ask website

Color Scheme:
#524656 - Pastel Purple
#cf4747 - Pastel Red
#ea7a58 - Light Red Orange
#e4dccb - Off White
#a6c4bc - Light Blue

*/
h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
}

html {
	background-image:url(../res/geometry.png);
}

body {
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight:300;
	border:solid #000 5px;
	margin-left:10%;
	margin-right:10%;
	background-color:#fff;
	color:#000;
	text-align:center;
	min-width:50em;
}

img#logo {
	display:block;
	width:15em;
	margin-left:auto;
	margin-right:auto;
}

#slogan {
	margin:1em;
}

input {
	display:block;
	width:20em;
	border-radius:5px;
	margin:1em auto;
	height:2em;
	font-size:12px;
}

input[type="text"],input[type="password"],input[type="email"] {
	border:2px solid #000;
}

input.button {
	width:5em;
	border:none;
}

input.button:hover {
	background-color:#000;
	color:#fff;
}

.divider {
	border-top:2px solid #000;
	width:70%;
	margin:1em auto;
}

footer {
	margin:2em auto;
	clear:both;
}

#search {
	float:right;
	margin-right:1em;
}

#logoSmall {
	width:20em;
	float:left;
}

#cash {
	float:left;
	border:solid #000 5px;
	background-color: inherit;
	color:#000;
	margin-top:-5px;
	margin-left:10px;
	padding:3px;
}

#rightHeader {
	width: 40%;
	float: right;	
}

#welcomeTab {
	width: 100%;
	margin-top: 1em;
	padding: 0;
}

#welcomeTab p {
	float:left;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1em;
}

#logoutLink {
	float:right;
	margin-left: 3em;
	margin-right: 1em;
}

#rightHeader #search {
	clear:both;
	width: 90%;
}

#rightHeader #search input {
	width: 100%;
}

header {
	display:block;
}

#container {
	clear: left;
}

/* BROWSENAV */
#browseNav ul {
	clear:left;
	list-style-type:none;
	float:left;
	margin-top:-2.5em;
	margin-left:4.7em;
}

/* BrowseNav list item */
#browseNav li {
	float:left;
	height:2em;
	display:inline;
	line-height:2em;
	width:10em;
	border:5px solid #000;
	margin-left: -0.2em;
	margin-right: -0.2em;
	margin-top: 0.2em;
	margin-bottom:-0.5em;
}

/*  Hover over a browseNav link */
#browseNav li:hover {
	background-color:#000;
	color:#fff;
}

/* Selected tab */
#browseNav li.selected,#linksNav li.selected {
	background-color:gray;
	color: inherit;
}

/* LINKNAV */
#linksNav ul {
	clear:left;
	float:left;
	width:7em;
	text-align:right;
	list-style-type:none;
	margin:0;
	padding:0;
}

/* linksNav list item */
#linksNav li {
	margin:1em 0;
	height:2em;
	border-top:5px solid #000;
	border-bottom:5px solid #000;
}

/* Hover over a linksNav link */
#linksNav li:hover a {
	color:#fff;
	background-color:#000;
}

/* linksNav link */
#linksNav li a {
	display:block;
	line-height:2em;
	text-decoration:none;
	padding-right:.5em;
	margin:0;
	color:#000;
	background-color: inherit;
}

#mainContent {
	margin-left:7em;
	margin-right:.5em;
	width:auto;
	margin-top:10em;
	margin-bottom:0;
	height:40em;
	border:5px solid #000;
}